
.startBtn{
    padding: 20;
    margin: 5 20 5 20;
    background-color: forestgreen;
    border-color: black;
    font-size: 15;
    color: black;
}
.stopBtn{
    padding: 20;
    margin: 5 20 5 20;
    background-color: orangered;
    border-color: black;
    font-size: 15;
    color: black;
}
.noteBtn{
    margin: 10 10;
    background-color: aquamarine;
    color: black;
    font-size: 18;
}
.lista{
    font-size: 12;
}